*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.container-full {
    width: 80vw;
    margin: 0 auto;
}

header {
    height: 100px;
    background-color: blue;
}

.menu {
    display: inline-block;

}

.menu li {
    display: inline;
    margin: 0 10px;
}

.header-right {
    float: right;
}
.banner {
    height: 300px;
    background-color: navy;
}

.slogan {
    height: 100px;
    background-color: yellow;
}

.info {
    height: 300px;
    background-color: green;

}

section {

    float: left;
    width:33%;
    background-color: violet;

}
