*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.container-full {
    width: 100%;
    margin: 0 auto;
}

header {
    height: 100px;
    background-color: navy;
    position: relative;
}

.header-left {
    width: 100%;

}

.menu {
    display: inline-block;
    margin-left: 30px;

}

svg {
    margin-top: 10px;
}

.menu li {
    display: inline;
    margin: 0 15px;
    font-size: 15px;
    text-align: center;


}

.header-left a {
    text-decoration: none;
}

.menu a {
    color: white;
}

.right {
    position: absolute;
    right: 50px;
    bottom: 45px;
}

.right span {
    display: inline-block;
    padding-right: 15px;
}

.right a {
    color: grey;
    padding-right: 15px;
    font-size: 15px;
    display: inline-block;
}

#reg button {
    background: navy;
    border-color: lightblue;
    color: white;
    padding: 5px;
    border-radius: 15%;

}

.str button{



    font-size: 10px;
    color: white;
    display: block;
    margin-left: ;
    background-color: green;
    border-radius: 3%;
    border-color: green;
    padding: 4px;




}

.banner {
    height: 300px;
    background-color: navy;
    width: 100%;


}

.frase {
    width: 50%;

}

.immagineb img {

    width: 50%;
    position: absolute;
    right: 0px;
    top: 100px;
}

#scelta {
    font-size: 40px;
    color: white;
    display: block;
    padding-top: 100px;
    padding-bottom: 30px;
    padding-left: 100px;

}

.frase span button{
    margin-left: 100px;
}




.slogan {
    height: 100px;
    background-color: lightgrey;
    text-align: center;
    padding-top: 25px;

}

#scuola {
    font-size: 25px;
    color: black;
}

#solo {
    padding-top: 5px;
    display: block;
    color: grey;
}



.info {
    height: 300px;

    width: 100%;

    text-align: center;


}

section {

    float:left;
    width:31%;

    margin-right: 20px

}

.info h1 {
    color: green;
    padding-bottom: 40px;
}

#titolocorto {
    padding-bottom: 65px;

}

.info img {
    height: 150px;
}

.info p {
    color: lightgrey;
}
